In [1]:

from databaker.framework import *
from databakerUtils.writers import v4Writer


# name the input and output file
inputfile = 'headlinewellbeinglocalauthorityupdate2016to2017 (3).xls'
outputfile ='v4_wellbeingInitial.csv'

# load the tabs we want
tabs = loadxlstabs(inputfile)

Loading headlinewellbeinglocalauthorityupdate2016to2017 (3).xls which has size 1042432 bytes
Table names: ['Contents', 'Life Satisfaction - Means ', 'Life Satisfaction - Thresholds', 'Worthwhile - Means', 'Worthwhile - Thresholds', 'Happy - Means', 'Happy - Thresholds', 'Anxiety - Means', 'Anxiety - Thresholds']

In [2]:

# Filter to just the tabs that we want
tabs = [tab for tab in tabs if "Thresholds" in tab.name]

for tab in tabs:
    print(tab.name)

Life Satisfaction - Thresholds
Worthwhile - Thresholds
Happy - Thresholds
Anxiety - Thresholds

In [3]:

import pandas as pd

conversionsegments = []

for tab in tabs:
    
    observations = tab.excel_ref("C8").expand(DOWN).expand(RIGHT).is_not_blank().is_not_whitespace()
    
    key = tab.excel_ref("O").filter(contains_string("Key"))
    unwanted = key.expand(DOWN).expand(RIGHT)
    
    observations = observations - unwanted
    
    measure = tab.name.split(" ")[0].strip()
    
    indicators = tab.excel_ref("C7").expand(RIGHT).is_not_blank().is_not_whitespace()
    
    geography = tab.excel_ref("A8").expand(DOWN).is_not_blank().is_not_whitespace()
    geographyLabels = tab.excel_ref("B8").expand(DOWN).is_not_blank().is_not_whitespace()
    
    time = tab.excel_ref("C5").expand(RIGHT).is_not_blank().is_not_whitespace()
    
    
    dimensions = [
        HDim(indicators, "Indicators", DIRECTLY, ABOVE),
        HDim(time, TIME, CLOSEST, LEFT),
        HDim(geography, GEOG, DIRECTLY, LEFT),
        HDim(geographyLabels, "geoLabels", DIRECTLY, LEFT), # NOTE - temporary dimension
        HDimConst("Measure", measure)
    ]
    
    conversionsegment = ConversionSegment(tab, dimensions, observations).topandas()
    
    conversionsegments.append(conversionsegment)

    
    

allData = pd.concat(conversionsegments)    

df = v4Writer(outputfile, allData, asFrame=True)

df

TIMEUNIT=''
TIMEUNIT=''
TIMEUNIT=''
TIMEUNIT=''
Extracting data structured as v4.

,V4_0,Data_Marking,Time_codelist,Time,Geography_codelist,Geography,Indicators_codelist,Indicators,geoLabels_codelist,geoLabels,Measure_codelist,Measure
0,6.51,NaN,,2011/12,K02000001,,,0-4,,UNITED KINGDOM,,Life
1,17.44,NaN,,2011/12,K02000001,,,5-6,,UNITED KINGDOM,,Life
2,49.83,NaN,,2011/12,K02000001,,,7-8,,UNITED KINGDOM,,Life
3,26.22,NaN,,2011/12,K02000001,,,9-10,,UNITED KINGDOM,,Life
4,5.71,NaN,,2012/13*,K02000001,,,0-4,,UNITED KINGDOM,,Life
5,17.1,NaN,,2012/13*,K02000001,,,5-6,,UNITED KINGDOM,,Life
6,51.16,NaN,,2012/13*,K02000001,,,7-8,,UNITED KINGDOM,,Life
7,26.03,NaN,,2012/13*,K02000001,,,9-10,,UNITED KINGDOM,,Life
8,5.54,NaN,,2013/14*,K02000001,,,0-4,,UNITED KINGDOM,,Life
9,15.92,NaN,,2013/14*,K02000001,,,5-6,,UNITED KINGDOM,,Life
10,51.62,NaN,,2013/14*,K02000001,,,7-8,,UNITED KINGDOM,,Life
11,26.92,NaN,,2013/14*,K02000001,,,9-10,,UNITED KINGDOM,,Life
12,4.74,NaN,,2014/15*,K02000001,,,0-4,,UNITED KINGDOM,,Life
13,14.81,NaN,,2014/15*,K02000001,,,5-6,,UNITED KINGDOM,,Life
14,51.7,NaN,,2014/15*,K02000001,,,7-8,,UNITED KINGDOM,,Life
15,28.75,NaN,,2014/15*,K02000001,,,9-10,,UNITED KINGDOM,,Life
16,4.56,NaN,,2015/16*,K02000001,,,0-4,,UNITED KINGDOM,,Life
17,14.23,NaN,,2015/16*,K02000001,,,5-6,,UNITED KINGDOM,,Life
18,52.05,NaN,,2015/16*,K02000001,,,7-8,,UNITED KINGDOM,,Life
19,29.15,NaN,,2015/16*,K02000001,,,9-10,,UNITED KINGDOM,,Life
20,4.53,NaN,,2016/17*,K02000001,,,0-4,,UNITED KINGDOM,,Life
21,13.75,NaN,,2016/17*,K02000001,,,5-6,,UNITED KINGDOM,,Life
22,51.74,NaN,,2016/17*,K02000001,,,7-8,,UNITED KINGDOM,,Life
23,29.97,NaN,,2016/17*,K02000001,,,9-10,,UNITED KINGDOM,,Life
24,6.53,NaN,,2011/12,E92000001,,,0-4,,ENGLAND,,Life
25,17.59,NaN,,2011/12,E92000001,,,5-6,,ENGLAND,,Life
26,50.01,NaN,,2011/12,E92000001,,,7-8,,ENGLAND,,Life
27,25.87,NaN,,2011/12,E92000001,,,9-10,,ENGLAND,,Life
28,5.74,NaN,,2012/13*,E92000001,,,0-4,,ENGLAND,,Life
29,17.29,NaN,,2012/13*,E92000001,,,5-6,,ENGLAND,,Life
...,...,...,...,...,...,...,...,...,...,...,...,...
10338,,x,,2015/16*,N09000009,,,4-5,,Mid Ulster,,Anxiety
10339,,x,,2015/16*,N09000009,,,6-10,,Mid Ulster,,Anxiety
10340,50.41,NaN,,2016/17*,N09000009,,,0-1,,Mid Ulster,,Anxiety
10341,17.06,NaN,,2016/17*,N09000009,,,2-3,,Mid Ulster,,Anxiety
10342,10.94,NaN,,2016/17*,N09000009,,,4-5,,Mid Ulster,,Anxiety
10343,21.59,NaN,,2016/17*,N09000009,,,6-10,,Mid Ulster,,Anxiety
10344,,x,,2011/12,N09000010,,,0-1,,"Newry, Mourne and Down",,Anxiety
10345,,x,,2011/12,N09000010,,,2-3,,"Newry, Mourne and Down",,Anxiety
10346,,x,,2011/12,N09000010,,,4-5,,"Newry, Mourne and Down",,Anxiety
10347,,x,,2011/12,N09000010,,,6-10,,"Newry, Mourne and Down",,Anxiety
10348,38.4,NaN,,2012/13*,N09000010,,,0-1,,"Newry, Mourne and Down",,Anxiety
10349,31.7,NaN,,2012/13*,N09000010,,,2-3,,"Newry, Mourne and Down",,Anxiety
10350,14.63,NaN,,2012/13*,N09000010,,,4-5,,"Newry, Mourne and Down",,Anxiety
10351,15.27,NaN,,2012/13*,N09000010,,,6-10,,"Newry, Mourne and Down",,Anxiety
10352,42.87,NaN,,2013/14*,N09000010,,,0-1,,"Newry, Mourne and Down",,Anxiety
10353,34.04,NaN,,2013/14*,N09000010,,,2-3,,"Newry, Mourne and Down",,Anxiety
10354,,x,,2013/14*,N09000010,,,4-5,,"Newry, Mourne and Down",,Anxiety
10355,11.78,NaN,,2013/14*,N09000010,,,6-10,,"Newry, Mourne and Down",,Anxiety
10356,42.36,NaN,,2014/15*,N09000010,,,0-1,,"Newry, Mourne and Down",,Anxiety
10357,31.45,NaN,,2014/15*,N09000010,,,2-3,,"Newry, Mourne and Down",,Anxiety
10358,11.87,NaN,,2014/15*,N09000010,,,4-5,,"Newry, Mourne and Down",,Anxiety
10359,,x,,2014/15*,N09000010,,,6-10,,"Newry, Mourne and Down",,Anxiety
10360,45.3,NaN,,2015/16*,N09000010,,,0-1,,"Newry, Mourne and Down",,Anxiety
10361,19.7,NaN,,2015/16*,N09000010,,,2-3,,"Newry, Mourne and Down",,Anxiety
10362,18.46,NaN,,2015/16*,N09000010,,,4-5,,"Newry, Mourne and Down",,Anxiety
10363,16.54,NaN,,2015/16*,N09000010,,,6-10,,"Newry, Mourne and Down",,Anxiety
10364,57.7,NaN,,2016/17*,N09000010,,,0-1,,"Newry, Mourne and Down",,Anxiety
10365,19.86,NaN,,2016/17*,N09000010,,,2-3,,"Newry, Mourne and Down",,Anxiety
10366,,x,,2016/17*,N09000010,,,4-5,,"Newry, Mourne and Down",,Anxiety
10367,13.75,NaN,,2016/17*,N09000010,,,6-10,,"Newry, Mourne and Down",,Anxiety

In [4]:

# Post processing

# GEOGRAPHY
def tidyCase(cell):
    return cell.title()

df["Geography"] = df["geoLabels"]
df = df.drop("geoLabels", axis=1)
df = df.drop("geoLabels_codelist", axis=1)

df["Geography"] = df["Geography"].apply(tidyCase)

df

,V4_0,Data_Marking,Time_codelist,Time,Geography_codelist,Geography,Indicators_codelist,Indicators,Measure_codelist,Measure
0,6.51,NaN,,2011/12,K02000001,United Kingdom,,0-4,,Life
1,17.44,NaN,,2011/12,K02000001,United Kingdom,,5-6,,Life
2,49.83,NaN,,2011/12,K02000001,United Kingdom,,7-8,,Life
3,26.22,NaN,,2011/12,K02000001,United Kingdom,,9-10,,Life
4,5.71,NaN,,2012/13*,K02000001,United Kingdom,,0-4,,Life
5,17.1,NaN,,2012/13*,K02000001,United Kingdom,,5-6,,Life
6,51.16,NaN,,2012/13*,K02000001,United Kingdom,,7-8,,Life
7,26.03,NaN,,2012/13*,K02000001,United Kingdom,,9-10,,Life
8,5.54,NaN,,2013/14*,K02000001,United Kingdom,,0-4,,Life
9,15.92,NaN,,2013/14*,K02000001,United Kingdom,,5-6,,Life
10,51.62,NaN,,2013/14*,K02000001,United Kingdom,,7-8,,Life
11,26.92,NaN,,2013/14*,K02000001,United Kingdom,,9-10,,Life
12,4.74,NaN,,2014/15*,K02000001,United Kingdom,,0-4,,Life
13,14.81,NaN,,2014/15*,K02000001,United Kingdom,,5-6,,Life
14,51.7,NaN,,2014/15*,K02000001,United Kingdom,,7-8,,Life
15,28.75,NaN,,2014/15*,K02000001,United Kingdom,,9-10,,Life
16,4.56,NaN,,2015/16*,K02000001,United Kingdom,,0-4,,Life
17,14.23,NaN,,2015/16*,K02000001,United Kingdom,,5-6,,Life
18,52.05,NaN,,2015/16*,K02000001,United Kingdom,,7-8,,Life
19,29.15,NaN,,2015/16*,K02000001,United Kingdom,,9-10,,Life
20,4.53,NaN,,2016/17*,K02000001,United Kingdom,,0-4,,Life
21,13.75,NaN,,2016/17*,K02000001,United Kingdom,,5-6,,Life
22,51.74,NaN,,2016/17*,K02000001,United Kingdom,,7-8,,Life
23,29.97,NaN,,2016/17*,K02000001,United Kingdom,,9-10,,Life
24,6.53,NaN,,2011/12,E92000001,England,,0-4,,Life
25,17.59,NaN,,2011/12,E92000001,England,,5-6,,Life
26,50.01,NaN,,2011/12,E92000001,England,,7-8,,Life
27,25.87,NaN,,2011/12,E92000001,England,,9-10,,Life
28,5.74,NaN,,2012/13*,E92000001,England,,0-4,,Life
29,17.29,NaN,,2012/13*,E92000001,England,,5-6,,Life
...,...,...,...,...,...,...,...,...,...,...
10338,,x,,2015/16*,N09000009,Mid Ulster,,4-5,,Anxiety
10339,,x,,2015/16*,N09000009,Mid Ulster,,6-10,,Anxiety
10340,50.41,NaN,,2016/17*,N09000009,Mid Ulster,,0-1,,Anxiety
10341,17.06,NaN,,2016/17*,N09000009,Mid Ulster,,2-3,,Anxiety
10342,10.94,NaN,,2016/17*,N09000009,Mid Ulster,,4-5,,Anxiety
10343,21.59,NaN,,2016/17*,N09000009,Mid Ulster,,6-10,,Anxiety
10344,,x,,2011/12,N09000010,"Newry, Mourne And Down",,0-1,,Anxiety
10345,,x,,2011/12,N09000010,"Newry, Mourne And Down",,2-3,,Anxiety
10346,,x,,2011/12,N09000010,"Newry, Mourne And Down",,4-5,,Anxiety
10347,,x,,2011/12,N09000010,"Newry, Mourne And Down",,6-10,,Anxiety
10348,38.4,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,0-1,,Anxiety
10349,31.7,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,2-3,,Anxiety
10350,14.63,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,4-5,,Anxiety
10351,15.27,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,6-10,,Anxiety
10352,42.87,NaN,,2013/14*,N09000010,"Newry, Mourne And Down",,0-1,,Anxiety
10353,34.04,NaN,,2013/14*,N09000010,"Newry, Mourne And Down",,2-3,,Anxiety
10354,,x,,2013/14*,N09000010,"Newry, Mourne And Down",,4-5,,Anxiety
10355,11.78,NaN,,2013/14*,N09000010,"Newry, Mourne And Down",,6-10,,Anxiety
10356,42.36,NaN,,2014/15*,N09000010,"Newry, Mourne And Down",,0-1,,Anxiety
10357,31.45,NaN,,2014/15*,N09000010,"Newry, Mourne And Down",,2-3,,Anxiety
10358,11.87,NaN,,2014/15*,N09000010,"Newry, Mourne And Down",,4-5,,Anxiety
10359,,x,,2014/15*,N09000010,"Newry, Mourne And Down",,6-10,,Anxiety
10360,45.3,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,0-1,,Anxiety
10361,19.7,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,2-3,,Anxiety
10362,18.46,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,4-5,,Anxiety
10363,16.54,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,6-10,,Anxiety
10364,57.7,NaN,,2016/17*,N09000010,"Newry, Mourne And Down",,0-1,,Anxiety
10365,19.86,NaN,,2016/17*,N09000010,"Newry, Mourne And Down",,2-3,,Anxiety
10366,,x,,2016/17*,N09000010,"Newry, Mourne And Down",,4-5,,Anxiety
10367,13.75,NaN,,2016/17*,N09000010,"Newry, Mourne And Down",,6-10,,Anxiety

In [5]:

# MEASURE
df["Measure_codelist"] = df["Measure"].map(lambda x: x.lower())
df

,V4_0,Data_Marking,Time_codelist,Time,Geography_codelist,Geography,Indicators_codelist,Indicators,Measure_codelist,Measure
0,6.51,NaN,,2011/12,K02000001,United Kingdom,,0-4,life,Life
1,17.44,NaN,,2011/12,K02000001,United Kingdom,,5-6,life,Life
2,49.83,NaN,,2011/12,K02000001,United Kingdom,,7-8,life,Life
3,26.22,NaN,,2011/12,K02000001,United Kingdom,,9-10,life,Life
4,5.71,NaN,,2012/13*,K02000001,United Kingdom,,0-4,life,Life
5,17.1,NaN,,2012/13*,K02000001,United Kingdom,,5-6,life,Life
6,51.16,NaN,,2012/13*,K02000001,United Kingdom,,7-8,life,Life
7,26.03,NaN,,2012/13*,K02000001,United Kingdom,,9-10,life,Life
8,5.54,NaN,,2013/14*,K02000001,United Kingdom,,0-4,life,Life
9,15.92,NaN,,2013/14*,K02000001,United Kingdom,,5-6,life,Life
10,51.62,NaN,,2013/14*,K02000001,United Kingdom,,7-8,life,Life
11,26.92,NaN,,2013/14*,K02000001,United Kingdom,,9-10,life,Life
12,4.74,NaN,,2014/15*,K02000001,United Kingdom,,0-4,life,Life
13,14.81,NaN,,2014/15*,K02000001,United Kingdom,,5-6,life,Life
14,51.7,NaN,,2014/15*,K02000001,United Kingdom,,7-8,life,Life
15,28.75,NaN,,2014/15*,K02000001,United Kingdom,,9-10,life,Life
16,4.56,NaN,,2015/16*,K02000001,United Kingdom,,0-4,life,Life
17,14.23,NaN,,2015/16*,K02000001,United Kingdom,,5-6,life,Life
18,52.05,NaN,,2015/16*,K02000001,United Kingdom,,7-8,life,Life
19,29.15,NaN,,2015/16*,K02000001,United Kingdom,,9-10,life,Life
20,4.53,NaN,,2016/17*,K02000001,United Kingdom,,0-4,life,Life
21,13.75,NaN,,2016/17*,K02000001,United Kingdom,,5-6,life,Life
22,51.74,NaN,,2016/17*,K02000001,United Kingdom,,7-8,life,Life
23,29.97,NaN,,2016/17*,K02000001,United Kingdom,,9-10,life,Life
24,6.53,NaN,,2011/12,E92000001,England,,0-4,life,Life
25,17.59,NaN,,2011/12,E92000001,England,,5-6,life,Life
26,50.01,NaN,,2011/12,E92000001,England,,7-8,life,Life
27,25.87,NaN,,2011/12,E92000001,England,,9-10,life,Life
28,5.74,NaN,,2012/13*,E92000001,England,,0-4,life,Life
29,17.29,NaN,,2012/13*,E92000001,England,,5-6,life,Life
...,...,...,...,...,...,...,...,...,...,...
10338,,x,,2015/16*,N09000009,Mid Ulster,,4-5,anxiety,Anxiety
10339,,x,,2015/16*,N09000009,Mid Ulster,,6-10,anxiety,Anxiety
10340,50.41,NaN,,2016/17*,N09000009,Mid Ulster,,0-1,anxiety,Anxiety
10341,17.06,NaN,,2016/17*,N09000009,Mid Ulster,,2-3,anxiety,Anxiety
10342,10.94,NaN,,2016/17*,N09000009,Mid Ulster,,4-5,anxiety,Anxiety
10343,21.59,NaN,,2016/17*,N09000009,Mid Ulster,,6-10,anxiety,Anxiety
10344,,x,,2011/12,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10345,,x,,2011/12,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10346,,x,,2011/12,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10347,,x,,2011/12,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10348,38.4,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10349,31.7,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10350,14.63,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10351,15.27,NaN,,2012/13*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10352,42.87,NaN,,2013/14*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10353,34.04,NaN,,2013/14*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10354,,x,,2013/14*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10355,11.78,NaN,,2013/14*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10356,42.36,NaN,,2014/15*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10357,31.45,NaN,,2014/15*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10358,11.87,NaN,,2014/15*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10359,,x,,2014/15*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10360,45.3,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10361,19.7,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10362,18.46,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10363,16.54,NaN,,2015/16*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10364,57.7,NaN,,2016/17*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10365,19.86,NaN,,2016/17*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10366,,x,,2016/17*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10367,13.75,NaN,,2016/17*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety

In [6]:

# TIME
df["Time_codelist"] = df["Time"].map(lambda x: x.lower())
df

,V4_0,Data_Marking,Time_codelist,Time,Geography_codelist,Geography,Indicators_codelist,Indicators,Measure_codelist,Measure
0,6.51,NaN,2011/12,2011/12,K02000001,United Kingdom,,0-4,life,Life
1,17.44,NaN,2011/12,2011/12,K02000001,United Kingdom,,5-6,life,Life
2,49.83,NaN,2011/12,2011/12,K02000001,United Kingdom,,7-8,life,Life
3,26.22,NaN,2011/12,2011/12,K02000001,United Kingdom,,9-10,life,Life
4,5.71,NaN,2012/13*,2012/13*,K02000001,United Kingdom,,0-4,life,Life
5,17.1,NaN,2012/13*,2012/13*,K02000001,United Kingdom,,5-6,life,Life
6,51.16,NaN,2012/13*,2012/13*,K02000001,United Kingdom,,7-8,life,Life
7,26.03,NaN,2012/13*,2012/13*,K02000001,United Kingdom,,9-10,life,Life
8,5.54,NaN,2013/14*,2013/14*,K02000001,United Kingdom,,0-4,life,Life
9,15.92,NaN,2013/14*,2013/14*,K02000001,United Kingdom,,5-6,life,Life
10,51.62,NaN,2013/14*,2013/14*,K02000001,United Kingdom,,7-8,life,Life
11,26.92,NaN,2013/14*,2013/14*,K02000001,United Kingdom,,9-10,life,Life
12,4.74,NaN,2014/15*,2014/15*,K02000001,United Kingdom,,0-4,life,Life
13,14.81,NaN,2014/15*,2014/15*,K02000001,United Kingdom,,5-6,life,Life
14,51.7,NaN,2014/15*,2014/15*,K02000001,United Kingdom,,7-8,life,Life
15,28.75,NaN,2014/15*,2014/15*,K02000001,United Kingdom,,9-10,life,Life
16,4.56,NaN,2015/16*,2015/16*,K02000001,United Kingdom,,0-4,life,Life
17,14.23,NaN,2015/16*,2015/16*,K02000001,United Kingdom,,5-6,life,Life
18,52.05,NaN,2015/16*,2015/16*,K02000001,United Kingdom,,7-8,life,Life
19,29.15,NaN,2015/16*,2015/16*,K02000001,United Kingdom,,9-10,life,Life
20,4.53,NaN,2016/17*,2016/17*,K02000001,United Kingdom,,0-4,life,Life
21,13.75,NaN,2016/17*,2016/17*,K02000001,United Kingdom,,5-6,life,Life
22,51.74,NaN,2016/17*,2016/17*,K02000001,United Kingdom,,7-8,life,Life
23,29.97,NaN,2016/17*,2016/17*,K02000001,United Kingdom,,9-10,life,Life
24,6.53,NaN,2011/12,2011/12,E92000001,England,,0-4,life,Life
25,17.59,NaN,2011/12,2011/12,E92000001,England,,5-6,life,Life
26,50.01,NaN,2011/12,2011/12,E92000001,England,,7-8,life,Life
27,25.87,NaN,2011/12,2011/12,E92000001,England,,9-10,life,Life
28,5.74,NaN,2012/13*,2012/13*,E92000001,England,,0-4,life,Life
29,17.29,NaN,2012/13*,2012/13*,E92000001,England,,5-6,life,Life
...,...,...,...,...,...,...,...,...,...,...
10338,,x,2015/16*,2015/16*,N09000009,Mid Ulster,,4-5,anxiety,Anxiety
10339,,x,2015/16*,2015/16*,N09000009,Mid Ulster,,6-10,anxiety,Anxiety
10340,50.41,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,,0-1,anxiety,Anxiety
10341,17.06,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,,2-3,anxiety,Anxiety
10342,10.94,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,,4-5,anxiety,Anxiety
10343,21.59,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,,6-10,anxiety,Anxiety
10344,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10345,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10346,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10347,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10348,38.4,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10349,31.7,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10350,14.63,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10351,15.27,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10352,42.87,NaN,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10353,34.04,NaN,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10354,,x,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10355,11.78,NaN,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10356,42.36,NaN,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10357,31.45,NaN,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10358,11.87,NaN,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10359,,x,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10360,45.3,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10361,19.7,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10362,18.46,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10363,16.54,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety
10364,57.7,NaN,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",,0-1,anxiety,Anxiety
10365,19.86,NaN,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",,2-3,anxiety,Anxiety
10366,,x,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",,4-5,anxiety,Anxiety
10367,13.75,NaN,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",,6-10,anxiety,Anxiety

In [7]:

# INDICATOR
indicatorLookup = {
        "9-10":"Very good",
        "0-1":"Very good",
        "7-8":"Good",
        "2-3":"Good",
        "5-6":"Fair",
        "5-4":"Fair",
        "4-5":"Fair",
        "0-4":"Poor",
        "6-10":"Poor"
    }
df["Indicators_codelist"] = df["Indicators"].map(lambda x: indicatorLookup[str(x).strip()])
df

,V4_0,Data_Marking,Time_codelist,Time,Geography_codelist,Geography,Indicators_codelist,Indicators,Measure_codelist,Measure
0,6.51,NaN,2011/12,2011/12,K02000001,United Kingdom,Poor,0-4,life,Life
1,17.44,NaN,2011/12,2011/12,K02000001,United Kingdom,Fair,5-6,life,Life
2,49.83,NaN,2011/12,2011/12,K02000001,United Kingdom,Good,7-8,life,Life
3,26.22,NaN,2011/12,2011/12,K02000001,United Kingdom,Very good,9-10,life,Life
4,5.71,NaN,2012/13*,2012/13*,K02000001,United Kingdom,Poor,0-4,life,Life
5,17.1,NaN,2012/13*,2012/13*,K02000001,United Kingdom,Fair,5-6,life,Life
6,51.16,NaN,2012/13*,2012/13*,K02000001,United Kingdom,Good,7-8,life,Life
7,26.03,NaN,2012/13*,2012/13*,K02000001,United Kingdom,Very good,9-10,life,Life
8,5.54,NaN,2013/14*,2013/14*,K02000001,United Kingdom,Poor,0-4,life,Life
9,15.92,NaN,2013/14*,2013/14*,K02000001,United Kingdom,Fair,5-6,life,Life
10,51.62,NaN,2013/14*,2013/14*,K02000001,United Kingdom,Good,7-8,life,Life
11,26.92,NaN,2013/14*,2013/14*,K02000001,United Kingdom,Very good,9-10,life,Life
12,4.74,NaN,2014/15*,2014/15*,K02000001,United Kingdom,Poor,0-4,life,Life
13,14.81,NaN,2014/15*,2014/15*,K02000001,United Kingdom,Fair,5-6,life,Life
14,51.7,NaN,2014/15*,2014/15*,K02000001,United Kingdom,Good,7-8,life,Life
15,28.75,NaN,2014/15*,2014/15*,K02000001,United Kingdom,Very good,9-10,life,Life
16,4.56,NaN,2015/16*,2015/16*,K02000001,United Kingdom,Poor,0-4,life,Life
17,14.23,NaN,2015/16*,2015/16*,K02000001,United Kingdom,Fair,5-6,life,Life
18,52.05,NaN,2015/16*,2015/16*,K02000001,United Kingdom,Good,7-8,life,Life
19,29.15,NaN,2015/16*,2015/16*,K02000001,United Kingdom,Very good,9-10,life,Life
20,4.53,NaN,2016/17*,2016/17*,K02000001,United Kingdom,Poor,0-4,life,Life
21,13.75,NaN,2016/17*,2016/17*,K02000001,United Kingdom,Fair,5-6,life,Life
22,51.74,NaN,2016/17*,2016/17*,K02000001,United Kingdom,Good,7-8,life,Life
23,29.97,NaN,2016/17*,2016/17*,K02000001,United Kingdom,Very good,9-10,life,Life
24,6.53,NaN,2011/12,2011/12,E92000001,England,Poor,0-4,life,Life
25,17.59,NaN,2011/12,2011/12,E92000001,England,Fair,5-6,life,Life
26,50.01,NaN,2011/12,2011/12,E92000001,England,Good,7-8,life,Life
27,25.87,NaN,2011/12,2011/12,E92000001,England,Very good,9-10,life,Life
28,5.74,NaN,2012/13*,2012/13*,E92000001,England,Poor,0-4,life,Life
29,17.29,NaN,2012/13*,2012/13*,E92000001,England,Fair,5-6,life,Life
...,...,...,...,...,...,...,...,...,...,...
10338,,x,2015/16*,2015/16*,N09000009,Mid Ulster,Fair,4-5,anxiety,Anxiety
10339,,x,2015/16*,2015/16*,N09000009,Mid Ulster,Poor,6-10,anxiety,Anxiety
10340,50.41,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,Very good,0-1,anxiety,Anxiety
10341,17.06,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,Good,2-3,anxiety,Anxiety
10342,10.94,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,Fair,4-5,anxiety,Anxiety
10343,21.59,NaN,2016/17*,2016/17*,N09000009,Mid Ulster,Poor,6-10,anxiety,Anxiety
10344,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10345,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10346,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10347,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10348,38.4,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10349,31.7,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10350,14.63,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10351,15.27,NaN,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10352,42.87,NaN,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10353,34.04,NaN,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10354,,x,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10355,11.78,NaN,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10356,42.36,NaN,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10357,31.45,NaN,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10358,11.87,NaN,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10359,,x,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10360,45.3,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10361,19.7,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10362,18.46,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10363,16.54,NaN,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10364,57.7,NaN,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10365,19.86,NaN,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10366,,x,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10367,13.75,NaN,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety

In [8]:

# get rid of nan values
df.fillna("", inplace=True)
df

,V4_0,Data_Marking,Time_codelist,Time,Geography_codelist,Geography,Indicators_codelist,Indicators,Measure_codelist,Measure
0,6.51,,2011/12,2011/12,K02000001,United Kingdom,Poor,0-4,life,Life
1,17.44,,2011/12,2011/12,K02000001,United Kingdom,Fair,5-6,life,Life
2,49.83,,2011/12,2011/12,K02000001,United Kingdom,Good,7-8,life,Life
3,26.22,,2011/12,2011/12,K02000001,United Kingdom,Very good,9-10,life,Life
4,5.71,,2012/13*,2012/13*,K02000001,United Kingdom,Poor,0-4,life,Life
5,17.1,,2012/13*,2012/13*,K02000001,United Kingdom,Fair,5-6,life,Life
6,51.16,,2012/13*,2012/13*,K02000001,United Kingdom,Good,7-8,life,Life
7,26.03,,2012/13*,2012/13*,K02000001,United Kingdom,Very good,9-10,life,Life
8,5.54,,2013/14*,2013/14*,K02000001,United Kingdom,Poor,0-4,life,Life
9,15.92,,2013/14*,2013/14*,K02000001,United Kingdom,Fair,5-6,life,Life
10,51.62,,2013/14*,2013/14*,K02000001,United Kingdom,Good,7-8,life,Life
11,26.92,,2013/14*,2013/14*,K02000001,United Kingdom,Very good,9-10,life,Life
12,4.74,,2014/15*,2014/15*,K02000001,United Kingdom,Poor,0-4,life,Life
13,14.81,,2014/15*,2014/15*,K02000001,United Kingdom,Fair,5-6,life,Life
14,51.7,,2014/15*,2014/15*,K02000001,United Kingdom,Good,7-8,life,Life
15,28.75,,2014/15*,2014/15*,K02000001,United Kingdom,Very good,9-10,life,Life
16,4.56,,2015/16*,2015/16*,K02000001,United Kingdom,Poor,0-4,life,Life
17,14.23,,2015/16*,2015/16*,K02000001,United Kingdom,Fair,5-6,life,Life
18,52.05,,2015/16*,2015/16*,K02000001,United Kingdom,Good,7-8,life,Life
19,29.15,,2015/16*,2015/16*,K02000001,United Kingdom,Very good,9-10,life,Life
20,4.53,,2016/17*,2016/17*,K02000001,United Kingdom,Poor,0-4,life,Life
21,13.75,,2016/17*,2016/17*,K02000001,United Kingdom,Fair,5-6,life,Life
22,51.74,,2016/17*,2016/17*,K02000001,United Kingdom,Good,7-8,life,Life
23,29.97,,2016/17*,2016/17*,K02000001,United Kingdom,Very good,9-10,life,Life
24,6.53,,2011/12,2011/12,E92000001,England,Poor,0-4,life,Life
25,17.59,,2011/12,2011/12,E92000001,England,Fair,5-6,life,Life
26,50.01,,2011/12,2011/12,E92000001,England,Good,7-8,life,Life
27,25.87,,2011/12,2011/12,E92000001,England,Very good,9-10,life,Life
28,5.74,,2012/13*,2012/13*,E92000001,England,Poor,0-4,life,Life
29,17.29,,2012/13*,2012/13*,E92000001,England,Fair,5-6,life,Life
...,...,...,...,...,...,...,...,...,...,...
10338,,x,2015/16*,2015/16*,N09000009,Mid Ulster,Fair,4-5,anxiety,Anxiety
10339,,x,2015/16*,2015/16*,N09000009,Mid Ulster,Poor,6-10,anxiety,Anxiety
10340,50.41,,2016/17*,2016/17*,N09000009,Mid Ulster,Very good,0-1,anxiety,Anxiety
10341,17.06,,2016/17*,2016/17*,N09000009,Mid Ulster,Good,2-3,anxiety,Anxiety
10342,10.94,,2016/17*,2016/17*,N09000009,Mid Ulster,Fair,4-5,anxiety,Anxiety
10343,21.59,,2016/17*,2016/17*,N09000009,Mid Ulster,Poor,6-10,anxiety,Anxiety
10344,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10345,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10346,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10347,,x,2011/12,2011/12,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10348,38.4,,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10349,31.7,,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10350,14.63,,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10351,15.27,,2012/13*,2012/13*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10352,42.87,,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10353,34.04,,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10354,,x,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10355,11.78,,2013/14*,2013/14*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10356,42.36,,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10357,31.45,,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10358,11.87,,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10359,,x,2014/15*,2014/15*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10360,45.3,,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10361,19.7,,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10362,18.46,,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10363,16.54,,2015/16*,2015/16*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety
10364,57.7,,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Very good,0-1,anxiety,Anxiety
10365,19.86,,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Good,2-3,anxiety,Anxiety
10366,,x,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Fair,4-5,anxiety,Anxiety
10367,13.75,,2016/17*,2016/17*,N09000010,"Newry, Mourne And Down",Poor,6-10,anxiety,Anxiety